# Python / Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/
.env

# Conda lock/cache
.conda/
*.conda

# VS Code
.vscode/

# train tokens
train_tokens.bin

# Data (keep the folder, ignore contents)
data/*
!data/.gitkeep
